@import "tailwindcss";
@plugin "daisyui";


@theme{
  --color-principal : #00cfff;
  --color-spcial : #020e1f;
  --color-cosmique : #652C90;
  --color-Interstellaire : #b23cd8;
  --color-Luminique : #e6f9ff;
}
